
@font-face{
	font-family: 'OpenSansLt';
	src : url(../fonts/OpenSans-Light.ttf);
}

@font-face{
	font-family: 'OpenSansRegular';
	src : url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
	font-family: 'OpenSansSemiBold';
	src : url(../fonts/OpenSans-Semibold.ttf);
}

@font-face{
	font-family: 'OpenSansBold';
	src : url(../fonts/OpenSans-Bold.ttf);
}

@font-face{
	font-family: 'OpenSansExtraBold';
	src : url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face{
	font-family: 'GothamLt';
	src : url(../fonts/copyfonts.com_gotham-light.ttf);
}

@font-face{
	font-family: 'GothamRegular';
	src : url(../fonts/copyfonts.com_gotham-medium.ttf);
}

@font-face{
	font-family: 'GothamBold';
	src : url(../fonts/copyfonts.com_gotham-bold.ttf);
}





body {
	font-family: OpenSansRegular;
	font-size: 1rem;
}

video#bgvid {
  	position: fixed; right: 0; bottom: 0;
  	min-width: 100%; min-height: 100%;
  	width: auto; height: auto; z-index: -100;
  	background-size: cover;
  	background-image:url('../img/white_carbon.png');
}
#img-cover{
	background:rgba(0,0,0,.3);
	position: fixed; right: 0; bottom: 0;
  	min-width: 100%; min-height: 100%;
  	width: auto; height: auto; z-index: -100;
}
.succeed{
	text-align: center;
  	color: white;
  	text-shadow: 1px 0 2px rgba(0,0,0,.3),0 1px 2px rgba(0,0,0,.3),-1px 0 2px rgba(0,0,0,.3),0 -1px 2px rgba(0,0,0,.3);
  	font-size: 0.8em;
  	margin-top: 25px;
}
[role=main] {
	/*background: #fff;*/
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -250px;
	margin-top: -120px;
	width: 500px;
	height: 360px;
}

[role=main] #logo img {
	display: block;
	margin: 0 auto;
  
}


[role=main] #logo {
	background-color: rgba(255,255,255,.6);
  	height: 90px;
  	width: 90px;
  	margin: 0 auto;
  	padding: 25px;
  	border-radius: 90px;
  	text-align: center;
  	line-height: 90px;
  	letter-spacing: 6px;
  	font-size: 1.4rem;
}

[role=main] p#baseline {
	text-align: center;
	color: #fff;
	margin: 50px 0 10px 0;
	text-shadow: 1px 0 2px rgba(0,0,0,.3),0 1px 2px rgba(0,0,0,.3),-1px 0 2px rgba(0,0,0,.3),0 -1px 2px rgba(0,0,0,.3);;
}

[role=main] p#auteur {
	text-align: center;
	color: #fff;
	margin: 0;
	font-size: .8rem;
	text-shadow: 1px 0 2px rgba(0,0,0,.3),0 1px 2px rgba(0,0,0,.3),-1px 0 2px rgba(0,0,0,.3),0 -1px 2px rgba(0,0,0,.3);
}

[role=main] #news-inscription {
	width: 410px;
	margin: 45px auto 0 auto;
}

[role=main] input {
	float: left;
}



[role=main] input#mail-news {
	padding: 10px;
	font-size: .8rem;
	width: 250px;
}

[role=main] input#inscription-news {
  	width: 120px;
  	display: block;
  	border: 2px #fff solid;
  	background: transparent;
  	color: #fff;
  	font-size: .8rem;
  	transition: all .2s ease-in-out;
  	padding: 10px 0;
  	margin-left: 10px;
}

[role=main] input#inscription-news:hover {
	background: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
}
  
/* [role=main] #reseaux {
  width: 73px;
  margin: 50px auto 0 auto;
  padding: 0;
}

[role=main] #reseaux li {
	display: inline-block;
	text-decoration: none;
}

[role=main] #reseaux #twitter a {
	display: block;
	background-image: url(../img/twitter-icone.png);
	width: 24px;
	height: 24px;
	margin: 0 5px;
}

[role=main] #reseaux #instagram a {
	display: block;
	background-image: url(../img/instagram-icone.png);
	width: 24px;
	height: 24px;
	margin: 0 5px;
}
*/


footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
}

footer p {
	text-align: center;
	color: rgba(255,255,255,.5);
	padding: 3px 0;
	margin: 0;
	font-size: 0.7rem;
}

footer p a {
	color: rgba(255,255,255,.5);
	text-decoration: none;
}

footer p a:hover {
	transition: all .2s ease-in-out;
	color: #fff;
}


@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
	[role=main] input#mail-news {
		float:none;
		width: 85%;
		box-sizing: border-box;
		margin: 0 auto;
		display:block;
   	}
   	[role=main] #news-inscription{
   		width:100%;
   	}
   	[role=main] input#inscription-news{
   		float:none;
   		margin:15px auto 0 auto;
   	}
   	[role=main]{
   		position:relative;
   		left:0;
   		top:0;
   		margin:25% auto 0 auto;
   		width:auto;
   	}
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}







/* ------------------- MENTIONS LEGALES ---------------------- */

header {
	padding: 2em 0;
}

h2 {
	color: #badedd;
	font-size: 2rem;
}

article.contenu-mention {
	max-width: 800px;
	margin: 0 auto;
}

article.contenu-mention h3 {
	color: #badedd;
	font-size: 1.4rem;
}

article.contenu-mention p {
	color: #606060;
	font-size: 0.8rem;
}

article.contenu-mention a {
	color: #badedd;
}

#page-mention .logo {
	margin: 0 auto;
  	max-width: 100px;
  	background: #badedd;
  	padding: 45px;
  	height: 100px;
  	text-align: center;
  	line-height: 95px;
}

#page-mention .logo a {
  	color: #fff;
  	text-decoration: none;

}

#page-mention footer {
	position: relative;
	margin: 20px 0 10px;
}

#page-mention footer p {
	color: #000;
}




/* ------------------- FOOTER ---------------------- */




